---
layout: default
---

## {{ page.title }}

{% assign series_posts = site.posts | where_exp: "post", "post.project == page.project_key" | sort: "date" %}

{% if series_posts.size > 0 %}
<ul class="post-list">
  {% for post in series_posts %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
{% else %}
No posts yet for this series.

Create a post in `_posts/` with front matter like:

```yaml
---
title: "Example entry"
project: {{ page.project_key }}
---
```
{% endif %}
